@import "../config";

.accButton {
    // Arrange items
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // Outside space
    padding: 10px;
    margin-bottom: 10px;

    // Aesthetics
    background-color: darken($shale-grey, 5%);
    // border: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: 5px rgba(0, 0, 0, 0.1);
    border-radius: 25px;

    &:hover {
        background-color: darken($shale-grey, 10%);
        cursor: pointer;
    }

    h5,
    p {
        margin: 0;
    }
    vertical-align: middle;
}

.accDetails {
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
    max-height: 0;

    &.selected {
        visibility: visible;
        opacity: 1;
        max-height: 400px;
        display: block;
    }
}
