.fullscreenListing {
    display: flex;

    // Postion
    position: absolute;
    top: 0;
    left: -75vw;

    // Size
    height: 100vh;
    width: 75vw;

    // Transitions
    transition: all 1s;

    background-color: $shale_grey;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 20px 20px 0;

    // Appearence
    z-index: 10;
}

.houseInfo {
    height: 100vh;
    width: 60%;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 20px 20px 0;

    .imgContainer {
        height: 30vh;
        text-align: center;
        padding: 20px 0;

        img {
            width: auto;
            height: 100%;
        }
    }

    .infoContainer {
        height: 60vh;
        display: flex;
        flex-direction: row;

        .price {
            width: 30%;
            margin: 0 10px;

            .priceElement {
                margin-bottom: 20px;
            }
        }

        .info {
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            width: 70%;
            svg {
                margin: 0 15px;
            }
        }
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 10vh;
        margin: 20px 10px;

        button {
            height: 50px;
            margin: 0 10px;
        }

        button.back {
            background-color: #d9534f;
            &:hover {
                background-color: darken(#d9534f, 10%);
            }
        }
        button.compare {
            background-color: #5bc0de;
            &:hover {
                background-color: darken(#f0ad4e, 10%);
            }
        }

        .fullscreenLogin {
            .nameTag {
                width: fit-content;
            }
            button {
                &.login {
                    background-color: #00b074;
                }
                &.register {
                    background-color: #00b074;
                }
                button:hover {
                    background-color: darken(#00b074, 10%);
                }
            }
        }
    }
}

.areaInfo {
    height: 100vh;
    width: 40%;
}

.amenitiesContainer {
    overflow: hidden;

    // Postion
    position: absolute;
    right: 0vw;
    bottom: 0vh;

    // Content behaviour
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    // Size
    height: 30vh;
    width: 25vw;

    background-color: transparent;

    z-index: 15;

    .amenities {
        // Transitions
        transition: all 1s;

        // Size
        height: 100%;
        width: 80%;
        margin: 20px auto;

        position: relative;
        bottom: -30vh;

        background-color: $shale_grey;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    }
}
