.nonFullScreen {
    transition: transform 1s;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .map {
        z-index: 10;
        grid-column: 1;
        transition: all 1s;
        width: 50vw;
    }

    .listingsSidebar {
        grid-column: 2;
        transition: all 1s;
        height: 100vh;
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px 0 0 20px;
        z-index: 10;

        .navBar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 10vh;
            padding: 30px 5%;

            .back {
                background-color: #d9534f;
                text-decoration: none;
                &:hover {
                    color: white;
                    background-color: darken(#d9534f, 10%);
                }
            }

            .loginButtons {
                button {
                    margin-right: 10px;
                    background-color: #00b074;
                }
                button:hover {
                    background-color: darken(#00b074, 10%);
                }
            }
        }

        .resultTitle {
            margin: 0 30px;
            max-height: 5vh;

            h1 {
                font-size: 2.5rem;
                margin: 0;
            }

            p {
                display: inline;
            }

            .searchAddress {
                padding-left: 10px;
                color: lighten($color: #3b3b3b, $amount: 30%);
                font-weight: bolder;
                text-decoration: underline;
            }
        }

        .sortFilterAndFavourites {
            display: flex;
            flex-direction: row;
            min-height: 5vh;
            font-size: 30px;

            .dropdown,
            .menu {
                min-width: 100%;
            }

            .menu {
                background-color: $shale_grey;
            }

            .favouritesToggleButtons {
                margin: auto 0;
                padding-top: 10px;
                width: 20%;
                text-align: center;
            }

            .sort {
                margin: auto 0 auto 10px;
                padding-top: 10px;
                width: 40%;
            }

            .filterContainer {
                margin: auto 10px auto 0px;
                padding-top: 10px;
                width: 40%;

                .filter {
                    padding: 0 20px;
                    background-color: $shale_grey;

                    .multi-choice-buttons {
                        width: 100%;
                    }

                    .num-bedrooms-slider,
                    .house-price-slider {
                        margin: 10px 10px 30px 10px;
                    }

                    // JANKY CSS(Overwrites CSS of other imported external modules)
                    .input-range__slider,
                    .input-range__track--active {
                        background-color: $bs-primary;
                    }

                    .input-range__slider {
                        border: 1px solid $bs-primary;
                    }

                    span {
                        font-family: "Segoe UI", Tahoma, Geneva, Verdana,
                            sans-serif;
                    }

                    .search-submit-btn {
                        margin: 10px 0;
                        font-size: 1.5em;
                        width: 100%;
                        height: 5vh;
                    }
                }
            }
        }

        .sidebarListingsContainer {
            height: 80vh;

            &.favourites {
                height: 80vh;
                .favouriteListings {
                    transform: translate3d(-50vw, 0, 0);
                }
                .sidebarListings {
                    width: 50vw;
                    transform: translate3d(50vw, 0, 0);
                }
            }

            .favouriteListings {
                width: 50vw;
                right: -50vw;
            }
            
            .sidebarListings {
                width: 50vw;
                right: 0;
            }

            .sidebarListings,
            .favouriteListings {
                background-color: $shale_grey;
                height: 80vh;
                overflow-x: hidden; //horizontal
                overflow-y: scroll; //vertical
                position: absolute;

                transition: 0.6s;

                .sidebarListing {
                    display: grid;
                    grid-template-rows: 1fr 2fr;
                    height: 38vh;
                    border-radius: 5px;
                    padding: 10px;
                    margin: 10px;
                    overflow: hidden;

                    transition: 0.4s;

                    &:hover {
                        img {
                            border-radius: 5px;
                            border: 3px solid #00b074;
                            padding: 3px;
                            transition: 0.4s;
                        }
                        background-color: darken($shale_grey, 5%);
                    }

                    &.selected {
                        img {
                            border-radius: 5px;
                            border: 3px solid #00b074;
                            padding: 3px;
                            transition: 0.4s;
                        }
                    }

                    h3,
                    h5,
                    p {
                        margin: 0 auto;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        margin: auto;
                        border-radius: 5px;
                        transition: 0.4s;
                    }
                    .sidebarListingInfo {
                        position: relative;
                        // in order from top to bottom
                        .title {
                            display: -webkit-box;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            font-size: 2vh;
                            overflow: hidden;
                        }

                        .summary {
                            font-size: 1vh;
                        }

                        .bedNum {
                            font-size: 1vh;
                        }

                        .price {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            font-size: 1.5vh;
                            color: #00b074;
                        }
                    }
                }
            }

            @media screen and (min-width: 1400px) {
                .sidebarListings,
                .favouriteListings {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                }
                .favourite {
                    .favouriteListings {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                    }
                }
            }
            @media screen and (max-width: 1400px) {
                .resultTitle {
                    h1 {
                        font-size: 2rem;
                    }
                }
                .sidebarListings,
                .favouriteListings {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
                .favourite {
                    .favouriteListings {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                    }
                }
            }
            @media screen and (max-width: 900px) {
                .resultTitle {
                    h1 {
                        font-size: 1.5rem;
                    }
                }
                .sidebarListings,
                .favouriteListings {
                    display: grid;
                    grid-template-columns: 1fr;
                }
                .favourite {
                    .favouriteListings {
                        display: grid;
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
    }
}
