.search {
    text-align: center;    
}

.nav-container {
    width: 100vw;
    Button {
        float: right;
        margin: 1vh 1vw 1vw 0;
    }
}

.search-header {
    color: $shale_grey;
    text-align: center;
    
    .search-title {
        // margin: 40px 0 0 0;
        font-size: 8em;
        font-weight: 200;
    }

    .search-subtitle {
        margin: 0;
        font-size: 1.5em;
        font-weight: 300;
    }
}

.search-box {
    
}

// .grid-container {
//     display: grid;
//     grid-template-columns: auto;
//     // grid-row-gap: 80px;
// }

// .btn-container {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     column-gap: 5px;
// }
